<footer>
    <div class="cta">
        <a class="btn ghost" href="./index.html">Back</a>
    </div>
    <span>© <script>document.write(new Date().getFullYear())</script> AutoCertification.</span>
    &nbsp;·&nbsp;<a href="./offer.html">Public Offer</a>
    &nbsp;·&nbsp;<a href="./terms.html">Terms</a>
    &nbsp;·&nbsp;<a href="./privacy.html">Privacy</a>
    <p style="color:#777;font-size:14px;margin-top:30px;">
    This website and service are currently in beta testing. Some features are under development.
    </p>
</footer>